.App {
  text-align: center;
  background: url(assets/bg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

*{
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}

  .search input[type=text] {
  width: 70%;
  box-sizing: border-box;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 30px;
  outline: none;
  height: 42px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.2em;

}

.searchSVG{
  transform: translate(40px,11px) scale(0.5);
}
.locationSVG{
  transform: translate(-40px,13px) scale(0.5);
}

.search{
  position: absolute;
  top:50%;
  width: 80vw;
  left: 50%;
  transform: translate(-50%,-50%);
}
.search h1{
  color: white;
  font-weight: bold;
  font-size: 3em;
}
.search p{
  color: white;
  font-size: 1.5em;
}

.search input[type=text]::placeholder {
  color: white;
  font-size: 1.2em;
  font-weight: normal;
}
.searchResults{
  width: 70%;
  border-radius: 25px;
  margin: 0 auto 0 auto;  
  background-color: white;
  color: black;
}

.searchResults h2{
  color: black;
  margin: 0px;
  padding: 0px;
}
.searchResults p{
  color: black;
  margin: 0px;
  padding: 0px;
}
.result{
  display: flex;
}
.CityResult{
  float: left;
  margin: auto 0 auto 15px;
}
.CityResult p{
  font-size: 0.9em;
  text-align:left;

}
.BasicResult{
  margin-left: auto;
  order: 2;
}
.BasicResult ul{
  display: flex;
  justify-content: space-between;
}
.BasicResult ul li span{
  padding: 5px;
  background-color: white!important;
  margin-right: 5px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}
.BasicResult ul :nth-child(1){
  background-color: #43B929;
}
.BasicResult ul :nth-child(2){
  background-color: #B9A129;
}


.BasicResult ul li{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  list-style-type: none;
  color: white;
}


@media screen and (max-width: 480px) {
.search input[type=text]::placeholder {
    color: white;
    font-size: 0.8em;
    font-weight: normal;

  }
  .BasicResult{
    transform: scale(0.6);
    padding-left: 0;
  }

}