.App {
  text-align: center;
  background: url(assets/bg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

*{
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}

  .search input[type=text] {
  width: 70%;
  box-sizing: border-box;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 30px;
  outline: none;
  height: 42px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.2em;

}

.searchSVG{
  transform: translate(40px,11px) scale(0.5);
}
.locationSVG{
  transform: translate(-40px,13px) scale(0.5);
}

.search{
  position: absolute;
  top:50%;
  width: 80vw;
  left: 50%;
  transform: translate(-50%,-50%);
}
.search h1{
  color: white;
  font-weight: bold;
  font-size: 3em;
}
.search p{
  color: white;
  font-size: 1.5em;
}

.search input[type=text]::placeholder {
  color: white;
  font-size: 1.2em;
  font-weight: normal;
}
.searchResults{
  width: 70%;
  border-radius: 25px;
  margin: 15px auto 0 auto;  
  background-color: white;
  color: black;
}

.searchResults h2{
  color: black;
  margin: 0px;
  padding: 0px;
}
.searchResults p{
  color: black;
  margin: 0px;
  padding: 0px;
}
.result{
  display: flex;
}
.CityResult{
  float: left;
  margin: auto 0 auto 15px;
  white-space: nowrap;
}
.CityResult p{
  font-size: 0.9em;
  text-align:left;

}
.BasicResult{
  margin-left: auto;
  order: 2;
}
.BasicResult ul{
  display: flex;
  justify-content: space-between;
}
.BasicResult ul li span{
  padding: 5px;
  background-color: white!important;
  margin-right: 5px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}
.BasicResult ul :nth-child(1){
  background-color: #43B929;
}
.BasicResult ul :nth-child(2){
  background-color: #B9A129;
}


.BasicResult ul li{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  list-style-type: none;
  color: white;
}
/*------------------------------------*/
/*NAV BAR STYLE*/

.navbar ul{
  padding-left: 0px;
}
.navcontainer {
    margin: auto;
    width: 90%;
  }
  
  .navbar {
    position: fixed;
    z-index: 100;
    overflow: hidden;
    margin: auto;
    width: 100%;
    left:0;
    top:0;
  }
  
  .navbar li.logo,
  .navbar li.navbar_items {
    list-style-type: none;
    display: inline-block;
  }
  
  .navbar li a {
    
    font-size: 1.05em;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  .navbar li.navbar_items a:hover {
    border-bottom-style: solid;
    border-bottom-color: white;
    /*   padding-bottom: 5px; */
  }
  
  .navbar li.icon {
    display: none;
  }
  
  .div_navbar_items {
    float: right;
    padding-right:1%;
  }
  
  .intro{
    position: relative;
    top: 100px;
    text-align:center;
  }
  
  p {
    color:white;
    font-size: 20px;
    
  }
  
  .logo{
    transform: translateX(-100%);
    font-size: 2em;
  }
  @media screen and (max-width:875px) {
 
    .logo{
      transform: translateX(0);
      font-size: 1em;
    }
    .navbar li.navbar_items {
      display: none;
    }
    .navbar li.icon {
      float: right;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 19px;
    }
  }
  
  
  /* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens */
  
  @media screen and (max-width:875px) {
    .navbar.responsive {
      position:fixed;
      width: 100%;
      height: 100vh;
      background-color: rgba(236,201,205, 1);
      transition: background-color .6s;
    }
    
    .navbar.responsive li .logo {
      float: left;
      display: block;
      
    }
    .navbar.responsive .div_navbar_items {
      float: none;
      padding-right:0;
    }
    
    .navbar.responsive li.navbar_items {
      display: block;
      padding: 50px;
      font-size: 25px;
    }
    .navbar.responsive li.navbar_items a {
      display: block;
      text-align: center;
    }
    
    .navbar.responsive li.navbar_items a:hover{
      color:#17171e;
      border-bottom-color: transparent;
      
    }
    
  
    
  }
  
  /* end of navgation bar styling - responsive */
/*NAV BAR STYLE ENDED*/
/*------------------------------------*/

@media screen and (max-width: 480px) {
.search input[type=text]::placeholder {
    color: white;
    font-size: 0.8em;
    font-weight: normal;

  }

  .result{
    transform: scale(0.8);
  }
  .BasicResult{
    transform: scale(0.6) translateX(-60%);
    padding-left: 0;
    margin-left: 0;
  }
  .searchResults{
    border-radius: 10px;
  }
  .searchResults h2{
    color: black;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    
  }
  .CityResult{
    white-space: nowrap;
    transform: translateX(-40%);
    
  }
  

}