.App {
  text-align: center;
  background: url(assets/bg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

*{
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}

  .search input[type=text] {
  width: 70%;
  box-sizing: border-box;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 30px;
  outline: none;
  height: 42px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.2em;

}

.searchSVG{
  transform: translate(40px,11px) scale(0.5);
}
.locationSVG{
  transform: translate(-40px,13px) scale(0.5);
}

.search{
  position: absolute;
  top:50%;
  width: 80vw;
  left: 50%;
  transform: translate(-50%,-50%);
}


.search input[type=text]::placeholder {
  color: white;
  font-size: 1.2em;
  font-weight: normal;
}
@media screen and (max-width: 480px) {
.search input[type=text]::placeholder {
    color: white;
    font-size: 0.8em;
    font-weight: normal;

  }
}